@charset "ISO-8859-1";

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
   height: 100vh;
   display: initial;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
   	background-image: url("/IMAGE/banner-10.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
  
}
 
 .heading{
  
  font-size:25px;
  font-weight:bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  background-color: #bbb;
    
}





.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: 35%;
  margin-top:50px;
  cursor: pointer;
 /* background-image: url("/IMAGE/train-1.png");
  background-size: 100%  100%;*/
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 23%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}


/*.IRCTC .profile-img {
  height: 100px;
  width: 100px;
  margin-left:90%;

  border: 3px solid #fff;
}*/






.container{
    position: inherit;      
    padding: 0 25px;   
    margin-top: 8px;
   
}

.input-field label{
    font-size: 18px;
    font-weight: 450;
    margin-left: -15px;
    cursor: pointer;
}

span {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;
	line-height: 3;
	text-transform: uppercase;
	color: #999999;
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
}

