
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="" th:href="@{/CSS/Master.css}"/>
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

         
</head>
<body>
      <div class="heading">
        <h2>Traveling Train</h2>
       </div>
        		        
			<div class="topnav">
			 
				   <a class="active" href="/index">Home Page</a>
				  
				  
				   <a href="/#" class="text User-Registratio-link">Logout</a>
				  
		     </div>   
		     
		<div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Change Password</span>

                 <form  th:action="@{/ChangePassword}" action="" method="post"  >
                 
                    
                     <div class="input-field">
                        <input type="password" placeholder="Enter new password" name="newpassword" required>
                    </div>


                    <div class="input-field button">
                        <input type="submit" value="Change Password">
                    </div>
                </form>
            </div>
            </div>
        </div>
   
</body>