<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="" th:href="@{/CSS/ChangePassword.css}"/>
    <link rel="stylesheet" href="" th:href="@{/CSS/dropdown.css}"/>
    
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

         
</head>
<body>
      <div class="heading">
        <h2>Traveling Train</h2>
       </div>
        
         <div class="navbar" style="margin-top: -10px">
						    <a class="active" href="/user/search">Home Page</a>
						    
						    <div class="dropdown">
						    
						    <button class="dropbtn">My Account
						      <i class="fa fa-caret-down"></i>
						    </button>
						    
						    <div class="dropdown-content">
						      <a href="/user/myProfile">My profile</a>
						      <a href="/user/change-password">Change Password</a>
						      <a href="/logout">Logout</a>
						    </div>						    
						  </div> 
						  	
						  	<div class="dropdown">					  
						      <button class="dropbtn">My Transactions
						     <i class="fa fa-caret-down"></i>						     
						     </button>
						    <div class="dropdown-content">
						      <a href="/user/myBooking">My Bookings</a>
						      <a href="/user/myCancelTicket">Cancelled Ticket</a>
						    </div>
						    
						    						    
					</div> 
					<a  class="user" th:href="@{/user/myProfile}">USER :  <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span> </a>	
				</div>  
		     
	<div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Change Password</span>

                 <form  th:action="@{/user/changepassword}" action="" method="post"  >
                 
             <!-- Start of Alert Message Filed -->
				<div class="message">
				<div th:if="${session.message}">
					<div class="alert alert-primary" role="alert">
						<span class="text-dark fw-bold"
							th:text="${session.message}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				</div>
		<!-- End of Alert Message Filed -->
                 
                 <!-- old password field-->
                  <div class="input-field">
                        <input type="text" placeholder="Enter old password" name="oldPassword" required>
                         <i class="uil uil-lock icon"></i>
                         <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                 
                     <!-- New password field-->
                     <div class="input-field">
                        <input type="password" placeholder="Enter new password" name="newPassword" required>
                         <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>


                    <div class="input-field button">
                        <input type="submit" value="Change">
                    </div>
                      <!-- <div class="input-field button">
                        <input type="reset" value="Reset">
                    </div>-->
                    
                </form>
            </div>
            </div>
        </div>
   
</body>      
                            
</body>