<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="#" th:href="@{/CSS/Style.css}"/>
     <link rel="stylesheet" href="#" th:href="@{/CSS/navbar.css}"/>
     <link rel="stylesheet" href="#" th:href="@{/CSS/footeraboutus.css}"/>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
   <title>Home Page</title>
</head>
<body>

    <div class="heading">
        <h1>Traveling Train</h1>
    </div >
       <div class="image">
        <img  src="#" th:src="@{/IMAGE/banner1.jpg}" style="width:100%;height:500px; margin-top:-22px" />
        </div>  
        
               
        <div class="topnav">
			 
				   <a class="active" href="/index">Home Page</a>
				  
				  <a  href="/about" class="text About-US-link">About US</a>
				  
				   <a href="/contact" class="text Contact-link">Contact US</a>
				  
				  <a href="/User" class="text User-Registratio-link">User Registration</a>
				  				 				  
				  <a href="/signin" class="text signup-link">Login</a>
				  
		 </div> 
		     
         <div class="travelling">
         
        <h1> Travelling Train Reservation</h1>
         
         <p>You can book a train seat 120 days ahead in General quota while Tatkal tickets can be booked a day in advance.
          You need to know that Indian Railways reservation has different travel classes and quotas with different counter timings.
          The general quota opens between 8 am to 8.30 am while the tatkal quota opens from 10 am to 10.30 am. 
          If you have booked the non AC tatkal quota then its counter will be open between 11 am to 11.30 am.</p>
          
          
         <p>In order to check the Indian Railway seat availability visit indianrail.gov.
         in and click on seat availability which will ask you to provide in details like train number, 
         journey date, source station, destination station, class and quota. Alternatively, 
         you can also go to the NTES website and click on seat/berth availability to the extreme left of the page. 
         On selecting the option you will be redirected to the website of indianrail.gov.in.
         In case you are still to book train ticket then you can click on the seat/berth booking which is an option just below the seat/berth availability.
         The booking option will take you to the IRCTC website where you can make your train ticket booking.</p>
         
         <p>There are different quotas and classes of travel in the Indian Railways.
            The different quotas are General, Tatkal, Premium Tatkal, Ladies, Defence, Parliament House, Foreign Tourist, Yuva and Duty Pass. 
            Following are the classes of travel that you can choose from when booking your train ticket:</p>
         
         <h2>First class AC:</h2>
         
         <p>This class provides the most comfortable train travel with privacy and no disturbance. 
            It comes with spacious coaches and latest facilities and bigger cabins.</p>
         
         <h2>Second class AC:</h2>
         
         <p>It is a bit less than the first class when it comes to facilities but will guarantee you a similar travel experience. 
            Go for it if youare looking for a comfortable travel with less expense.</p>
         
         <h2>Third class AC:</h2>
         
         <p>If you are not too fussy about the facilities and features while travelling and all you need is an air conditioned coach then this is the best class for you. 
            Sleeper class: This an affordable class of travel for people who want a budget-friendly journey.
            It comes without AC and is generally crowded so brace up yourself before your journey.</p>
          
         <h2>AC chair car:</h2>
         
         <p>If you are someone who needs to travel for a few hours then this is the class you can opt for.
            You can also call in meals from the onboard catering service.</p>
         
        <div class="improved">
          <h1>Improved and Faster Trains</h1>
        </div> 
         
        <h2>Tejas Express:</h2>
        
        <p>The Indian Railways is set to reform and improve the passenger experience by making the train trips nothing less than air travel. 
           Now you will be offered the flight-like experience while travelling in a train with Tejas Express going for a makeover. 
           The IR is expected to come up with 23 new coaches with facilities including motor-operated windows, luxurious leather seats, infotainment LCD screens, USB charging points, GPS-based passenger information system, and modular touch-free toilets with bio-vacuum system.</p>
         
         <h2>Train 18:</h2>
         
         <p>The IR is soon to launch Train 18 which is touted to be the fastest train in India.
            The train is said to run on a speed of 180 kmph and does not require a locomotive as it runs on an electric traction just like metro trains.
            Both the trains are going to revolutionise the face of the Indian Railways.</p>
         </div>  
         
          <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Madhu<span>Developer</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright &copy; 2023 <strong>MadhuDeveloper</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Amruthnagar</span>
                    Bengaluru</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 7899151608</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="madhugowda41826@gmail.com">madhugowda41826@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong style="color:#e0ac1c">IngrOInfo Software Solutions Pvt Ltd </strong> 
             is a software development and service-based company, which believes that IT should be a highly value-adding asset
              to businesses that rely on technology to provide a competitive advantage in their industry our vision and passion to provide services in the field of information technology.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
         
         
         
         
         
                  
</body>
</html>