<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="#" th:href="@{/CSS/Style.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/CSS/navbar.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/CSS/footercontact.css}"/>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
   <title>Home Page</title>
</head>
<body>
       <div class="heading">
        <h1>Traveling Train</h1>
       </div>
         
       <div class="image">
        <img  src="#" th:src="@{/IMAGE/banner1.jpg}" style="width:100%;height:500px; margin-top: -22px" />
        </div> 
        
        
        	 <div class="topnav">
			 
				  <a class="active" href="/index">Home Page</a>
				  
				  <a  href="/about" class="text About-US-link">About US</a>
				  
				   <a href="/contact" class="text Contact-link">Contact US</a>
				  
				  <a href="/User" class="text User-Registratio-link">User Registration</a>
				  				 				  
				  <a th:href="@{/signin}" class="text signup-link">Login</a>
				  
		     </div> 
                
          <div class="Railway-Enquiry">
             <div class="text">
                <h2>Railway Enquiry </h2>
                
                <p>Helpline.No. 139 (24 Hours Service)</p>
                <p>Write to : info@irctc.com</p>
                <p>Internet Ticketing Complaints Write to: care@irctc.co.in</p>
                <p>CIN : U74899DL1999GOI101707</p>


                 <h2>North Zone:</h2>     
                 
                 <p>Rail Yatri Niwas Building, New Delhi Railway Station Complex, Ajmeri Gate Side, New Delhi - 110002</p>   
                 <p>Zonal Office Tel.No.: - 011-23234763, 23221146 , Fax: - 011-23210321</p>
                 <p>North Zone Control Tele No. / Fax No.: 011-23221147 Mobile:09717648888</p>
                 <p>Email Id: ggmnz@irctc.com, ggmdelhi@irctc.com</p>
                 
                 <h2>Rail Neer Plant Nangloi:</h2>
                 
                  <p>Rail Neer Plant, Northan Railways Wireless Station Area, Opposite Nangloi Bus Depot, Nangloi -110041</p>  
                  <p>Tel.No. 011-65152575,25949774 Fax No. 011-25949773</p>    
                     
                     <h2>Lucknow RO:</h2> 
                     
                  <p>Paryatan Bhawan, 2nd Floor, C-13, Vipin Khand, Gomti Nagar, Lucknow -226010</p>  
                  <p>Tel.No. 0522-2305522 Fax No. 0522-2305533</p>
                  
                     <h2>Jaipur RO:</h2> 
                     
                  <p>708, 7th Floor, Crystal Mall , Sawai Jai Singh Highway,Banipark, Jaipur- 302016</p>  
                  <p>Tel.No. 0141-4020194, 4020198, Fax No. 0141-4020193</p>
                  
                     <h2>Chandigarh RO:</h2> 
                     
                  <p>SCO-80-81-8, Sector -34A, Chandigarh -160034</p>  
                  <p>Tel.No. 0172-4645795, 6572156 ,Fax No. 0172-4645795</p>
                  
                 </div>
                  
              </div>
               
                <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Madhu<span>Developer</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright &copy; 2023 <strong>MadhuDeveloper</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Amruthnagar</span>
                    Bengaluru</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 7899151608</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="madhugowda41826@gmail.com">madhugowda41826@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong style="color:#e0ac1c">IngrOInfo Software Solutions Pvt Ltd </strong> 
             is a software development and service-based company, which believes that IT should be a highly value-adding asset
              to businesses that rely on technology to provide a competitive advantage in their industry our vision and passion to provide services in the field of information technology.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

          
</body>
</html>