<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="#" th:href="@{/CSS/Style.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/CSS/navbar.css}"/>
     <link rel="stylesheet" href="#" th:href="@{/CSS/footer.css}"/>
      <link rel="stylesheet" href="#" th:href="@{/CSS/images.css}"/>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
   
   <title>Home Page</title>
</head>
<body>
      
   




       <div class="heading">
        <h1>Traveling Train</h1>
       </div>
       
         <div class=train>
         <marquee direction="left">"Welcome To Traveling Train Indian Railway Catering and Tourism Corporation Ltd. (IRCTC) is a 'Mini Ratna (Category-I)' Central Public Sector Enterprise under Ministry of Railways"</marquee>
         </div>
         
			  <div class="container">
			    <div class="image-box">
			      <div class="image">
			        <img class="img1" src="images/img1.jpg" alt="">
			      </div>
			      <div class="image">
			        <img class="img2" src="images/img2.jpg" alt="">
			      </div>
			      <div class="image">
			        <img class="img3" src="images/img3.jpg" alt="">
			      </div>
			      <div class="image">
			        <img class="img4" src="images/img4.jpg" alt="">
			      </div>
			    </div>
			  </div>
			        
				        
				        
			 <div class="topnav">
			 
				  <a class="active" href="#home">Home Page</a>
				  
				  <a  href="/about" class="text About-US-link">About US</a>
				  
				   <a href="/contact" class="text Contact-link">Contact US</a>
				  
				  <a href="/User" class="text User-Registratio-link">User Registration</a>
				  				 				  
				  <a th:href="@{/signin}" class="text signup-link">Login</a>
				  
				  				  
		     </div>             
                
              <div class="row"></div>
              
				  <div class="column1" style="background-color:#bbb;">
				    <h2>Latest Events</h2>
				    
				    <p> <strong>Today,</strong>The coverage for the IRCTC travel insurance scheme is applicable for each passenger under the PNR in case of death,
				       permanent total disability..</p>
                        
                    <p>Once the premium is paid by the passengers no cancellations is allowed.
                       Accordingly,no refund of</p>
                       
                      <p><a href="#"class="text read more-link">read more</a></p> 
                       
                       <p><strong>Yesterday,</strong> The tour- operated with a special AC tourist train - will commence on May 25 from Mumbai.. </p>
                     
                   
			        <img class="img" src="images/train-1.png" alt="" style="width: 50%; height: 200px; margin-left:350px">
                      
				  </div>
				  
	              <div class="column2" style="background-color:#bbb;">
	               
				    <h2>Welcome To Traveling Train !</h2>
				    
				    <p> <strong>Traveling Train</strong> Indian Railway Finance Corporation(IRFC) has raised $500 million in overseas bonds as part of its fund raising activity, 
				        a move that signals a stable currency regime and will help the railway arm to meet extra budgetary resources(EBR) target, a critical part of the Indian Railways capex. 
				        According to a source, the five-year bonds received bids for thrice the amount on offer at a rate of 2.23%.Dollar bonds are pegged to 
				        the US treasury yields which has come from 3.23% in early November 2018 to around 2.44% by the end of March 2019.</p>

                       <p>Mehta, however,cautioned that usually an un-hedged exposure is taken by firms whose balance sheets have a natural hedge, 
                          that is inflows are also in the same currency in which it avails loans
                       </p>
                       
                       <p>This web site is developed by <a href="//ingroinfo.com/#"class="text signup-link">IngroInfo Software Solution</a></p>
                       
                       <p>The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, 
                          which continues to grow by the day.</p>

		    </div>
        
      <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Madhu<span>Developer</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright &copy; 2023 <strong>MadhuDeveloper</strong>|| All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Amruthnagar</span>
                    Bengaluru</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 7899151608</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="madhugowda41826@gmail.com">madhugowda41826@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong style="color:#e0ac1c">IngrOInfo Software Solutions Pvt Ltd </strong> 
             is a software development and service-based company, which believes that IT should be a highly value-adding asset
              to businesses that rely on technology to provide a competitive advantage in their industry our vision and passion to provide services in the field of information technology.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

        
        
         
</body>
</html>