<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<!-- site metas -->
<title>About us</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css"
	href="/images-1/css/bootstrap.min.css" />
<!-- style css -->
<link rel="stylesheet" type="text/css" href="CSS/about.css" />
<!-- Responsive-->
<link rel="stylesheet" href="images-1/css/responsive.css" />

<link rel="stylesheet" href="#" th:href="@{/CSS/aboutfooter.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<!-- fevicon -->
<link rel="icon" href="images-1/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
 <link rel="stylesheet"
	href="images-1/css/jquery.mCustomScrollbar.min.css" /> 
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
<!-- fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap"
	rel="stylesheet" />
<!-- owl stylesheets -->
<link rel="stylesheet" href="css/owl.carousel.min.css" />
<link rel="stylesheet" href="css/owl.theme.default.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen" />

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link rel="stylesheet" href="CSS/nav.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />



</head>
<body>


	<div class="main_box">
		<input type="checkbox" id="check">
		<div class="btn_one">
			<label for="check"> <i class="fas fa-bars"></i>
			</label>
		</div>
		<div class="sidebar_menu">
			<div class="logo">
				<a href="#" style="margin-left: -15px; margin-top: -15px;">Indian
					Railway</a>
			</div>
			<div class="btn_two">
				<label for="check"> <i class="fas fa-times"></i>
				</label>
			</div>
			<div class="menu">
				<ul>
					<li><i class="fas fa-qrcode"></i> <a href="web">Dashboard</a>
					</li>
					<li><i class="fas fa-link"></i> <a href="signin">Login</a></li>
					<li><i class="fas fa-stream"></i> <a href="#">Overview</a></li>
					<li><i class="fas fa-calendar-week"></i> <a href="#">Events</a>
					</li>
					<li><i class="fas fa-question-circle"></i> <a href="about">About</a>
					</li>
					<li><i class="fas fa-sliders-h"></i> <a href="#">Services</a>
					</li>
					<li><i class="fas fa-phone-volume"></i> <a href="contact">Contact</a>
					</li>
					<li><i class="far fa-comments"></i> <a href="#">Feedback</a></li>
				</ul>
			</div>
			<div class="social_media">
				<ul>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</ul>
			</div>
		</div>
	</div>





	<!-- header section start -->
	<div class="header_section">
		<div class="header_main">
			<div class="mobile_menu">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="logo_mobile">
						<a href="index.html"><img src="img/about-us.png" /></a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarNav" aria-controls="navbarNav"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="index.html">Home</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="about.html">About</a>
							</li>
							<li class="nav-item"><a class="nav-link"
								href="services.html">Services</a></li>
							<li class="nav-item"><a class="nav-link" href="blog.html">Login</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

			<div class="container-fluid">
				<div class="logo">
					<a href="index.html"><img src="img/about.png" /></a>
				</div>
				<div class="menu_main">
					<ul>
						<li class="active"><a href="web">Home</a></li>
						<li><a href="about">About</a></li>
						<!-- <li><a href="services.html">Services</a></li> -->
						<li><a href="/contact">Contact us</a></li>
						<li><a href="signin">Login</a></li>

					</ul>
				</div>
			</div>
		</div>



		<!-- banner section start -->
		<div class="banner_section layout_padding">
			<div id="carouselExampleSlidesOnly" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<h1 class="banner_taital">Travelling Train</h1>
							<p class="banner_text">Life is the train, not the station.
								Our life is a constant journey. The landscape changes, the
								people change, but the train keeps moving.</p>
							<div class="read_bt">
								<a href="/User">Signup here</a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<h1 class="banner_taital">Adventure</h1>
							<p class="banner_text">There are many variations of passages
								of Lorem Ipsum available, but the majority have sufferedThere
								are ma available, but the majority have suffered</p>
							<div class="read_bt">
								<a href="#">Get A Quote</a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<h1 class="banner_taital">Adventure</h1>
							<p class="banner_text">There are many variations of passages
								of Lorem Ipsum available, but the majority have sufferedThere
								are ma available, but the majority have suffered</p>
							<div class="read_bt">
								<a href="#">Get A Quote</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner section end -->
	</div>
	<!-- header section end -->
	<!-- services section start -->
	<div class="services_section layout_padding">
		<div class="container">
			<h1 class="services_taital">About Us</h1>

		</div>
	</div>
	</div>
	<!-- services section end -->
	<!-- about section start -->
	<div class="about_section layout_padding">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="about_taital_main">
						<h1 class="about_taital">Travelling Train Reservation</h1>
						<p class="about_text" style="font-weight: 400">You can book a
							train seat 120 days ahead in General quota while Tatkal tickets
							can be booked a day in advance. You need to know that Indian
							Railways reservation has different travel classes and quotas with
							different counter timings. The general quota opens between 8 am
							to 8.30 am while the tatkal quota opens from 10 am to 10.30 am.
							If you have booked the non AC tatkal quota then its counter will
							be open between 11 am to 11.30 am. In order to check the Indian
							Railway seat availability visit indianrail.gov. in and click on
							seat availability which will ask you to provide in details like
							train number, journey date, source station, destination station,
							class and quota. Alternatively, you can also go to the NTES
							website and click on seat/berth availability to the extreme left
							of the page. On selecting the option you will be redirected to
							the website of indianrail.gov.in. In case you are still to book
							train ticket then you can click on the seat/berth booking which
							is an option just below the seat/berth availability. The booking
							option will take you to the IRCTC website where you can make your
							train ticket booking. There are different quotas and classes of
							travel in the Indian Railways. The different quotas are General,
							Tatkal, Premium Tatkal, Ladies, Defence, Parliament House,
							Foreign Tourist, Yuva and Duty Pass. Following are the classes of
							travel that you can choose from when booking your train ticket:</p>
						<div class="readmore_bt">
							<a href="https://en.wikipedia.org/wiki/Indian_Railways"
								style="margin-top: -20px">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 padding_right_0">
					<div>
						<img src="images/img-10.jpg" class="about_img"
							style="height: 550px; border-radius: 20px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
.train {
	padding-left: 20px;
}

.taital {
	padding-left: 100%;
}

.taitals {
	font-size: 23px;
	color: black;
	font-weight: 500;
	margin-left: 25px;
	line-height: 60px;
}

.text {
	margin-top: -10px;
	font-weight: 400;
	margin-left: 50%;
	width: 50%;
	padding-right: 50px;
	line-height: 30px;
	margin-bottom: 0;
}

.Improved {
	font-size: 30px;
	padding-left: 20px;
	padding-top: 20px;
}

.taital1 {
	font-size: 18spx;
	font-weight: 500;
	padding-left: 20px;
}

.text1 {
	margin-top: -6px;
	font-weight: 500;
	padding-left: 25px;
	padding-right: 25px;
}
</style>





	<div class="train">

		<div class="col-md-6 padding_right_0">
			<div>
				<img src="images/img-101.jpg" class="about_img"
					style="width: 96%; height: 500px; border-radius: 20px; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
			</div>
		</div>
		<h1 class="taital"></h1>
		<span class="taitals">First class AC </span>
		<p class="text">This class provides the most comfortable train
			travel with privacy and no disturbance. It comes with spacious
			coaches and latest facilities and bigger cabins.</p>

		<span class="taitals">Second class AC</span>
		<p class="text">It is a bit less than the first class when it
			comes to facilities but will guarantee you a similar travel
			experience. Go for it if youare looking for a comfortable travel with
			less expense.</p>


		<span class="taitals">Third class AC: </span>
		<p class="text">If you are not too fussy about the facilities and
			features while travelling and all you need is an air conditioned
			coach then this is the best class for you. Sleeper class: This an
			affordable class of travel for people who want a budget-friendly
			journey. It comes without AC and is generally crowded so brace up
			yourself before your journey.</p>


		<span class="taitals"> AC chair car:</span>
		<p class="text">If you are someone who needs to travel for a few
			hours then this is the class you can opt for. You can also call in
			meals from the onboard catering service.</p>

		<h1 class="Improved">Improved and Faster Trains</h1>


		<h1 class="taital1">Tejas Express:</h1>
		<p class="text1">The Indian Railways is set to reform and improve
			the passenger experience by making the train trips nothing less than
			air travel. Now you will be offered the flight-like experience while
			travelling in a train with Tejas Express going for a makeover. The IR
			is expected to come up with 23 new coaches with facilities including
			motor-operated windows, luxurious leather seats, infotainment LCD
			screens, USB charging points, GPS-based passenger information system,
			and modular touch-free toilets with bio-vacuum system.</p>

		<h1 class="taital1">Train 18:</h1>
		<p class="text1">The IR is soon to launch Train 18 which is touted
			to be the fastest train in India. The train is said to run on a speed
			of 180 kmph and does not require a locomotive as it runs on an
			electric traction just like metro trains. Both the trains are going
			to revolutionise the face of the Indian Railways.</p>
	</div>

	<!-- footer section start -->
	<div class="footer_section layout_padding">
		<footer class="footer-distributed">

			<div class="footer-left">
				<h3>
					Madhu<span>Developer</span>
				</h3>

				<p class="footer-links">
					<a href="web">Home</a> | <a href="about">About</a> | <a
						href="contact">Contact</a> | <a href="#">Blog</a>
				</p>

				<p class="footer-company-name">
					Copyright &copy; 2023 <strong>MadhuDeveloper</strong>|| All rights
					reserved
				</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					<p>
						<span>Amruthnagar</span> Bengaluru
					</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 7899151608</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p>
						<a href="madhugowda41826@gmail.com">madhugowda41826@gmail.com</a>
					</p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span> <strong style="color: #e0ac1c">IngrOInfo
						Software Solutions Pvt Ltd </strong> is a software development and
					service-based company, which believes that IT should be a highly
					value-adding asset to businesses that rely on technology to provide
					a competitive advantage in their industry our vision and passion to
					provide services in the field of information technology.
				</p>
				<div class="footer-icons">
					<a href="#"><i class="fab fa-facebook"></i></a> <a href="#"><i
						class="fab fa-instagram"></i></a> <a href="#"><i
						class="fab fa-linkedin"></i></a> <a href="#"><i
						class="fab fa-twitter"></i></a> <a href="#"><i
						class="fab fa-youtube"></i></a>
				</div>
			</div>
		</footer>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- javascript -->
	<script src="js/owl.carousel.js"></script>
	<script
		src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
		
		
</body>
</html>
