<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="#" th:href="@{/CSS/BookTicket.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/CSS/Style.css}"/>
   <link rel="stylesheet" href="" th:href="@{/CSS/dropdown.css}"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     

    <title>Responsive Regisration Form </title> 
</head>
<body>


		<div class="heading">
        <h2>Traveling Train</h2>
       </div>
         
        
				        
				        
			 	<div class="navbar">
						    <a class="active" href="/user/search">Home Page</a>
						    
						    <div class="dropdown">
						    
						    <button class="dropbtn">My Account
						      <i class="fa fa-caret-down"></i>
						    </button>
						    
						    <div class="dropdown-content">
						      <a href="/user/myProfile">My profile</a>
						      <a href="/user/change-password">Change Password</a>
						      <a href="/logout">Logout</a>
						    </div>						    
						  </div> 
						  	
						  	<div class="dropdown">					  
						      <button class="dropbtn">My Transactions
						     <i class="fa fa-caret-down"></i>						     
						     </button>
						    <div class="dropdown-content">
						      <a href="/user/myBooking">My Bookings</a>
						      <a href="/user/myCancelTicket">Cancelled Ticket</a>
						    </div>						    
					</div> 						   				  
				</div>            
		     
    <div class="container">
        <header>Please Check Your Details</header>

    <form> 
      <input type="hidden" name="id"   th:field="${passengers.id}"/> 
             <!-- <input type="hidden" name="id" th:field="${user}"/> --> 
            
            <div class="form first">
                <div class="details personal">

                    <div class="fields">
                       

                         <div class="input-field">
                            <label>Train Name</label>
                            <input type="text"   name="trainName" th:value="${passengers.trainName}"  readonly="readonly">
                        </div>

                        <div class="input-field">
                            <label>Schedule</label>
                            <input type="text" name="schedule" th:value="${passengers.schedule}"  readonly="readonly" >
                        </div>
 							
                        
                        <div class="input-field">
                            <label>Train From </label>
                            <input type="text"  name="trainFrom" th:value="${passengers.trainFrom}" readonly="readonly" >
                        </div>

                        <div class="input-field">
                            <label>Train To </label>
                            <input type="text"  name="trainTo" th:value="${passengers.trainTo}"  readonly="readonly" >
                        </div>
                        
                        <div class="input-field">
                            <label>Train Date </label>
                            <input type="date"  name="departureDate" th:value="${passengers.departureDate}" readonly="readonly">
                        </div>

                        <div class="input-field">
                            <label>Train From Timing </label>
                            <input type="time"  name="trainFromTime" th:value="${passengers.trainFromTime}" readonly="readonly">
                        </div>
                        
                        <div class="input-field">
                            <label>Train  To  Time </label>
                            <input type="time"  name="trainToTime" th:value="${passengers.trainToTime}" readonly="readonly">
                        </div>          
                        
                                      
                         <div class="input-field">
                            <label>First Name </label>
                            <input type="text"  name="firstName" th:value="${passengers.firstName}"  readonly="readonly">
                        </div>
                        
                        
                         <div class="input-field">
                            <label>Last Name</label>
                            <input type="text"  name="lastName" th:value="${passengers.lastName}"  readonly="readonly"   >
                        </div>
                        
                         <div class="input-field">
                            <label>Age</label>
                            <input type="number"  name="age" th:value="${passengers.age}" readonly="readonly" >
                        </div>
                        
                         <div class="input-field">
                            <label>Gender</label>
                            <input type="text"  name="Gender" th:value="${passengers.Gender}" readonly="readonly"  >
                        </div>
                        
                                              
                         <div class="input-field">
                            <label>Aadhar Number</label>
                            <input type="number"  name="aadharNumber" th:value="${passengers.aadharNumber}" readonly="readonly"  >
                        </div>
                        
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email"  name="email" th:value="${passengers.email}"  readonly="readonly" >
                     </div>
                        
                        
                         <div class="input-field">
                            <label>Phone Number</label>
                            <input type="number"  name="phone" th:value="${passengers.phone}"  readonly="readonly" >
                        </div>
                        
                      
                       <div class="input-field">
                            <label>Ticket Price </label>
                            <input id="payment_field"   type="text"  name="ticketPrice" th:value="${passengers.ticketPrice}"  readonly="readonly" >
                        </div>  
                                                                                                         
                      </div>  
                   </div>
                   
                    
 	                 <div class="input-field button">
	                   <input onclick="paymentStart()" value="Proceed to Pay">       	                   
	                </div>	               	                        
                </div>   
           </form>
      </div>
      
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script th:src="@{/JS/script.js}"></script>
        
		<script
		  src="https://code.jquery.com/jquery-3.6.4.min.js"
		  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
		  crossorigin="anonymous"></script>
		   
</body>
</html>