
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
 <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="#" th:href="@{/CSS/Style.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/CSS/navbar.css}"/>
     <link rel="stylesheet" href="" th:href="@{/CSS/Pagination.css}"/>
     <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
   <title>Home Page</title>
</head>
<body>
       <div class="heading">
        <h2>Traveling Train</h2>
       </div>
       
       <div class="image">
        <img  src="#" th:src="@{/IMAGE/banner1.jpg}"  style="width:100%;height:500px; margin-top:-25px"/>
        </div> 
        
				        
				        
		<div class="topnav">
			 
				   <a class="active" href="/admin/AdminLogin">Home Page</a>
				  
				   <a href="/admin/addtrain" class="text AddTrain-link">Add Train</a>
				  
				   <a href="/admin/showtrain/0" class="text User-Registratio-link">Show Train</a>
				   
				   <a href="/admin/listOfUsers/0" class="text ShowTrain-link">List of Users</a>
				   
				    <a href="/admin/showtrain&passenger/0" class="text DisplayTrain&Passenger-link">Display Train & Passenger</a>
				  				  
				   <a href="/logout" class="text signup-link">Logout</a>
				   				  				 								  
		     </div> 
		     
	         <style>
				table {
				  border-collapse: collapse;
				  border-spacing: 0;
				  width: 100%;
				  border: 6px solid #fff;
				  
				}
				h2{
				text-align: center;
				font-size: 30px;
				}
				
				th, td {
				  text-align: left;
				  padding: 14px;
				  
				  
				}
				th{
			    font-size: 14px;
				
				}
				
				tr:nth-child(even) {
				  background-color: #f2f2f2;
				}
				</style>
				</head>
				<body>
				
				<h2>Train And Passenger List</h2>
				
				<table>
				  <tr>
				    <th>Train ID</th>
				    <th>Train Name</th>
				    <th>Schedule</th>			    
				    <th>Departure Date</th>
				    <th>Train From</th>
				    <th>Train To</th>
				    <th>Train From Timing</th>
				    <th>Train To Time</th>
				    				    
				     
				    <th>First Name</th>
				    <th>Last Name</th>
				    <th>Gender</th>
				    <th>Phone Number</th>	    
				    <th>view more</th>
				    
				  </tr>
				    <tr th:each="Trainsandpassenger:${listTrainsandpassenger}">
				     
				    <td th:text="${Trainsandpassenger.id}">Train ID</td>
				    <td th:text="${Trainsandpassenger.trainName}">Train Name</td>
				    <td th:text="${Trainsandpassenger.schedule}">Schedule</td>
				    <td th:text="${Trainsandpassenger.departureDate}">Departure Date</td>
				    <td th:text="${Trainsandpassenger.trainFrom}">Train From</td>
				    <td th:text="${Trainsandpassenger.trainTo}">Train To</td>
				    <td th:text="${Trainsandpassenger.trainFromTime}">Train From Timing</td>
				    <td th:text="${Trainsandpassenger.trainToTime}">Train To Time</td>
				  	
				  	
				      <td th:text="${Trainsandpassenger.firstName}">First Name</td>
				  	  <td th:text="${Trainsandpassenger.lastName}">Last Name</td>
				  	  <td th:text="${Trainsandpassenger.gender}">Gender</td>
				  	  <td th:text="${Trainsandpassenger.phone}">Phone Number</td>	  	    
				       
				 <td>
			    <a th:href="@{/admin/showtrain&passenger2}" class="btn">View</a>		        	        
		        </td> 
				       
				       
				  </tr>
				 
				</table>
				
				<ul class="pagination">
				<li></li>
				
				</ul> 
				
	 <!-- pagination part -->
		
		<div class="container">
				    
		  <div class="links">
		    <span th:if="${CurrentPage !=0}" class="page-item">
		    <a class="link" th:href="@{'/admin/showtrain&passenger/'+${CurrentPage-1}}" href="#"><i class="fa-solid fa-angles-left"></i></a></span>		       
		  </div>
		      		     
		  <div class="links">		      
		    <span th:classappend="${CurrentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" >
		    <a class="link" th:href="@{'/admin/showtrain&passenger/'+${i-1}}"><span th:text="${i}"></span></a></span>  
		  </div>
		
		     
		  <div class="links">
		   <span th:if="${CurrentPage+1 !=totalPages}" class="page-item">
		   <a class="link" th:href="@{'/admin/showtrain&passenger/'+${CurrentPage+1}}" href="#"><i class="fa-solid fa-angles-right"></i></a></span>   
		 </div>		      
    </div>		
</html>	       