
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="" th:href="@{/CSS/Master.css}"/>
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

         
</head>
<body>
      <div class="heading">
        <h2>Traveling Train</h2>
       </div>
        
        		        
			<div class="topnav">
			 
				   <a class="active" href="/user/search">Home Page</a>
				  				   				  				 								  
		     </div>                
    <div class="container">
        <div class="forms">
            <div class="form login">
             <span class="Invalid-Email" id="emailError" style="color: red;"></span>
               <!-- Start of Alert Message Filed -->
				<div class="message">
				<div th:if="${session.message}">
					<div class="alert alert-primary" role="alert">
						<span class="text-dark fw-bold"
							th:text="${session.message}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				</div>
				<!-- End of Alert Message Filed -->
				
                <span class="title">Forgot Password</span>
                
                             

                 <form  th:action="@{/send-otp}" method="post"   object="${}">
                    <div class="input-field">
                        <input id="email" type="email" placeholder="Enter your email" name="emailId" required>
                        <i class="uil uil-at"></i>
                    </div>
                    


                    <div class="input-field button">
                        <input onclick="validateEmail(event)" type="submit" value="Send OTP">
                    </div>
                </form>
            </div>
            </div>
        </div>
   <script th:src="@{/JS/Script1.js}"></script>  
</body>